.game{
    width: 800px;
    margin: auto;
    text-align: center;
    font-family: ; 
    color: white;
}

.head{
    width: 600px;
    background: rgb(63, 63, 224);
    padding: 7px;
    margin: 4px;
    font-size: 50px;
}
span{
    color: rgb(247, 240, 246);
}
.square{
    width: 200px;
    height: 200px;
    margin: 4px;
    background:rgb(63, 63, 224) ;
    float: left;
    padding:auto;
    font-size: 150px;
    text-align: center;
    

}
.square:hover{
    background: red;
    cursor: pointer;
}